.bash_history
_viminfo
.viminfo
Files
.wakatime.*
.ssh
.ivy2
.hgext
.chef
.chefdk
.idlerc
.ipython
.rnd
.Rhistory
.berkshelf/
.gimp-*/
.lesshst
.erlang.cookie
.gem/
.workstation

